<md-dialog aria-label="simpleFolderDialogContent" class="simple-folder-content-container">
    <div class="md-toolbar-tools">
        <h2>경로:
            <span ng-bind="currentPath"></span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            X
        </md-button>
    </div>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="simple_folder_dialog-header">
            </div>
            <div class="simple_folder_dialog-container">
                <div ui-grid="existFilesGridData" ui-grid-selection ui-grid-move-columns ui-grid-resize-columns ng-dblclick="onDblClickRow(row)" class="grid"></div>
            </div>
            <div class="simple_folder_dialog-waiting-signal" layout="row" ng-hide="!isWaitingStatus">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                <p>잠시만 기다려 주세요...</p>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
    </md-dialog-actions>
</md-dialog>