<md-dialog aria-label="waitingSignalDialogContent" class="waiting-signal-content-container">
    <div class="md-toolbar-tools">
        <h2></h2>
        <span flex></span>
    </div>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="waiting_signal_dialog-header">
            </div>
            <div class="waiting_signal_dialog-container" layout="row">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                <p>잠시만 기다려 주세요...</p>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
    </md-dialog-actions>
</md-dialog>