<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>레이아웃</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">


</head>

<body ng-app="incomeApp" ng-controller="incomeController" ng-cloak>
    <div id="ng-setting-div">
        <div class="top">
            <img src="{{url_for('static',filename = 'img/AhnLab_CI.png')}}" width="20%" align="left" style="padding: 5px">
            <h1 id="storage" class="glyphicon glyphicon-floppy-disk">STORAGE</h1>
        </div>

        <div class="menu" align="left">
            <nav class="navigator">
                <ul>
                    <li id="spam" onclick=spam();><span class="glyphicon glyphicon-zoom-in"></span><a class="spam">  악성 분류</a></li>
                    <li id="text" onclick=text();><span class="glyphicon glyphicon-duplicate"></span><a class="textcompare">  문서 분류</a></li>
                    <li id="income" onclick=income();><span class="glyphicon glyphicon-stats"></span><a class="expectincome">  예상 수입</a></li>
                    <li id="bookmark" onclick=bookmark();><span class="glyphicon glyphicon-star"></span><a class="storebookmark">  북마크 핀</a></li>
                </ul>
        </div>



        <div class="incomeMain" id="incomeMain">
            <button class="label label-success" id="incometable" style=" margin-top: 50px; width:400px;  height:100px;margin-left : 100px; font-size:50px;">Table</button>
            <button class="label label-info" id='incomegraph' style="margin-top:50px; width:400px;  height:100px;font-size:50px;">Chart</button>




            <div style="width:800px; heigth:400px; margin-left: 100px;  text-align : center; margin-top:100px; overflow:auto">
                <table class="table table-striped" border='0' width="100%">
                    <tr class="info">
                        <td><strong>사용자 ID</strong></td>
                        <td><strong>등록횟수</strong></td>
                        <td><strong>총 사용 금액($)</strong></td>
                        <td><strong>평균 사용 금액(년)</strong></td>
                        <td><strong>사용자 등급</strong></td>
                        <td><strong>사용기간(달)</strong></td>

                    </tr>
                    {% for info in user_info %}
                    <tr>
                        <td>{{info.id}}</td>
                        <td>{{info.numofregist}}회</td>
                        <td>{{info.totalamount}}$</td>
                        <td>{{info.averagefee}}$</td>
                        <td>{{info.grade}}등급</td>
                        <td>{{info.usedmonth}} 개월</td>
                    </tr>
                    {% endfor %}


                </table>

            </div>

            <a class="logoutBtn" onclick="logout()">
                <p id="logoutIcon">Log Out</p>
            </a>

        </div>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
    <script src="{{url_for('static',filename = 'js/jquery-1.11.1.min.js')}}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{url_for('static',filename = 'js/front.js')}}"></script>

</body>

</html>