<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Spam Test</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div id="main-content-div" layout="row" ng-app="urlSearchTestApp" ng-controller="urlSearchTestController" ng-cloak>
        <md-content>
            <form id="main-form">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>ID?</label>
                    <input ng-model="testId">
                </md-input-container>
                <md-button class="md-raised" ng-click="testUrl()">테스트</md-button>
            </form>
        </md-content>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
    <script src="{{url_for('static',filename = 'js/jquery-1.11.1.min.js')}}"></script>
    <script type="text/javascript">
        var signUpApp = angular.module('urlSearchTestApp', ['ngMaterial']);
        signUpApp.controller('urlSearchTestController', ['$scope', '$window', function($scope, $window) {
            $scope.testId = "";
            var token = "Dummy token";
            sessionStorage.setItem("token", token);
            $scope.testUrl = function() {
                sessionStorage.setItem("userId", $scope.testId);
                $window.open("./urlprocesspage", "_self");
            }
        }]);
        signUpApp.config(['$qProvider', '$interpolateProvider', function($qProvider, $interpolateProvider) {
            $qProvider.errorOnUnhandledRejections(false);
            $interpolateProvider.startSymbol('[[').endSymbol(']]');
        }]);
    </script>
</body>

</html>